.bookList_container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px,0.5fr));
    grid-gap:30px;
    box-sizing: border-box;
}

.bookList_container button{
    width: 100%;
    height: 30px;
}

.bookCard{
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212,185,150,.5);
    position: relative;
}

.bookCard img{
    width: 100%;
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}

.cardBottom{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 12px;
}